.section-movies {
  select {
    max-width: 375px;
    border-radius: 5px;

    &:focus {
      border-color: rgba(111, 87, 235, 0.7);
      box-shadow: 0 0 0 3px rgba(111, 87, 235, 0.3);
      outline: 0 none;
    }
  }

  .button-wrapper {
    border: 1px solid var(--primaryColor);
    border-radius: 40px;
    padding: 5px;
  
    .btn:focus {
      box-shadow: 0 0 10px var(--primaryColor);
    }
  
    .btn-trending {
      display: block;
      background-color: var(--secondaryColor);
      color: var(--textColor);
      border-radius: 40px;
      margin-right: 8px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  
    .btn-active {
      background-color: var(--primaryColor);
      box-shadow: 0 0 10px var(--primaryColor);
      color: rgb(255, 255, 255);
      z-index: 9;
    }  
  }
}
